Integradora.ECommerce.FBits/Web References/SyncProdutoPreco/SyncProdutoPreco.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:IntegracaoProdutoPrecoInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IntegracaoProdutoPrecoInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecoCusto" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecoDe" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecoPor" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncProdutoPrecoSoap">
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncProdutoPrecoSoap" type="tns:SyncProdutoPrecoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncProdutoPrecoSoap12" type="tns:SyncProdutoPrecoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncProdutoPreco">
    <wsdl:port name="SyncProdutoPrecoSoap" binding="tns:SyncProdutoPrecoSoap">
      <soap:address location="http://integracao.decisaoentrega.com.br/modelo007/SyncProdutoPreco.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncProdutoPrecoSoap12" binding="tns:SyncProdutoPrecoSoap12">
      <soap12:address location="http://integracao.decisaoentrega.com.br/modelo007/SyncProdutoPreco.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>