Integradora.ECommerce.FBits/Web References/SyncProdutoFornecedor/SyncProdutoFornecedor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Sync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:IntegracaoProdutoFornecedorInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IntegracaoProdutoFornecedorInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoNumero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoComplemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoBairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoCidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoCEP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SyncResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SyncSoapIn">
    <wsdl:part name="parameters" element="tns:Sync" />
  </wsdl:message>
  <wsdl:message name="SyncSoapOut">
    <wsdl:part name="parameters" element="tns:SyncResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncProdutoFornecedorSoap">
    <wsdl:operation name="Sync">
      <wsdl:input message="tns:SyncSoapIn" />
      <wsdl:output message="tns:SyncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncProdutoFornecedorSoap" type="tns:SyncProdutoFornecedorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sync">
      <soap:operation soapAction="http://tempuri.org/Sync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncProdutoFornecedorSoap12" type="tns:SyncProdutoFornecedorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sync">
      <soap12:operation soapAction="http://tempuri.org/Sync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncProdutoFornecedor">
    <wsdl:port name="SyncProdutoFornecedorSoap" binding="tns:SyncProdutoFornecedorSoap">
      <soap:address location="http://integracao.decisaoentrega.com.br/modelo007/SyncProdutoFornecedor.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncProdutoFornecedorSoap12" binding="tns:SyncProdutoFornecedorSoap12">
      <soap12:address location="http://integracao.decisaoentrega.com.br/modelo007/SyncProdutoFornecedor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>