Integradora.ECommerce.Corpem/Service References/SyncTrafegoCorpem/ServiceTrafego2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Inherited" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Inherited" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OracleTable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OracleObjeto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Dtalteracao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Dtinclusao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Obsintegracao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Semaforo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OracleTable" nillable="true" type="tns:OracleTable" />
  <xs:complexType name="OracleObjeto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="OracleObjeto" nillable="true" type="tns:OracleObjeto" />
</xs:schema>