Integradora.ECommerce.Corpem/Service References/SyncTrafegoCorpem/ServiceTrafego3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1824/ServiceTrafego.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" />
  <xs:import schemaLocation="http://localhost:1824/ServiceTrafego.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Integradora.WebserviceCorpem" />
  <xs:element name="UpdateStatusPedidoSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q1:ESTPedidosaida" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusPedidoSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusPedidoSaidaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusPrePedidoSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q2:ESTPrePedidosaidaitens" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusPrePedidoSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusPrePedidoSaidaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusPrePedidoSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q3:ESTPrePedidosaida" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusPrePedidoSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusPrePedidoSaidaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusPedidoSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q4:ESTPedidosaidaitens" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusPedidoSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusPedidoSaidaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusEmbalagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q5:ESTEmbalagem" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusEmbalagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusEmbalagemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q6:ESTEndereco" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusEnderecoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusGerente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q7:ESTGerente" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusGerenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusGerenteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q8:ESTMarca" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusMarcaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusNcm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q9:ESTNcm" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusNcmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusNcmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusRamoatividade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q10:ESTRamoatividade" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusRamoatividadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusRamoatividadeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusRca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q11:ESTRca" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusRcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusRcaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusSupervisor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q12:ESTSupervisor" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusSupervisorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusSupervisorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q13:ESTInventario" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusInventarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Integradora.WebserviceCorpem" minOccurs="0" name="composite" nillable="true" type="q14:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Integradora.WebserviceCorpem" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q15:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListClienteResult" nillable="true" type="q16:ArrayOfESTCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEmbalagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEmbalagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListEmbalagemResult" nillable="true" type="q17:ArrayOfESTEmbalagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListEnderecoResult" nillable="true" type="q18:ArrayOfESTEndereco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGerente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListGerenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListGerenteResult" nillable="true" type="q19:ArrayOfESTGerente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListMarcaResult" nillable="true" type="q20:ArrayOfESTMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNcm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNcmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListNcmResult" nillable="true" type="q21:ArrayOfESTNcm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRamoatividade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRamoatividadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListRamoatividadeResult" nillable="true" type="q22:ArrayOfESTRamoatividade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListRcaResult" nillable="true" type="q23:ArrayOfESTRca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSupervisor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSupervisorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListSupervisorResult" nillable="true" type="q24:ArrayOfESTSupervisor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListDepartamentoResult" nillable="true" type="q25:ArrayOfESTDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSecao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSecaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListSecaoResult" nillable="true" type="q26:ArrayOfESTSecao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFilial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFilialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListFilialResult" nillable="true" type="q27:ArrayOfESTFilial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListFornecedorResult" nillable="true" type="q28:ArrayOfESTFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListProdutoResult" nillable="true" type="q29:ArrayOfESTProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListKit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListKitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListKitResult" nillable="true" type="q30:ArrayOfESTKit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNotaEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNotaEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListNotaEntradaResult" nillable="true" type="q31:ArrayOfESTNotaentrada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNotaEntradaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numTransacao" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNotaEntradaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListNotaEntradaItensResult" nillable="true" type="q32:ArrayOfESTNotaentradaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNotaSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNotaSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListNotaSaidaResult" nillable="true" type="q33:ArrayOfESTNotasaida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNotaSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numTransacao" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListNotaSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListNotaSaidaItensResult" nillable="true" type="q34:ArrayOfESTNotasaidaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPedidoSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPedidoSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListPedidoSaidaResult" nillable="true" type="q35:ArrayOfESTPedidosaida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPedidoSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPedido" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPedidoSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListPedidoSaidaItensResult" nillable="true" type="q36:ArrayOfESTPedidosaidaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPrePedidoSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPrePedidoSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListPrePedidoSaidaResult" nillable="true" type="q37:ArrayOfESTPrePedidosaida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPrePedidoSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPedido" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPrePedidoSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListPrePedidoSaidaItensResult" nillable="true" type="q38:ArrayOfESTPrePedidosaidaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="ListInventarioResult" nillable="true" type="q39:ArrayOfESTInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q40:ESTCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q41:ESTDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateDepartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateEmbalagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q42:ESTEmbalagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateEmbalagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateEmbalagemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q43:ESTEndereco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateEnderecoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateGerente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q44:ESTGerente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateGerenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateGerenteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q45:ESTMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateMarcaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateNcm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q46:ESTNcm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateNcmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateNcmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateRamoatividade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q47:ESTRamoatividade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateRamoatividadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateRamoatividadeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateRca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q48:ESTRca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateRcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateRcaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateSupervisor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q49:ESTSupervisor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateSupervisorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateSupervisorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateSecao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q50:ESTSecao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateSecaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateSecaoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateFilial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q51:ESTFilial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateFilialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateFilialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q52:ESTFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateFornecedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q53:ESTProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateProdutoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateKit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q54:ESTKit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateKitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateKitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateNotaEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q55:ESTNotaentrada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateNotaEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateNotaEntradaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateNotaEntradaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q56:ESTNotaentradaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateNotaEntradaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateNotaEntradaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateNotaSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q57:ESTNotasaida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateNotaSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateNotaSaidaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateNotaSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q58:ESTNotasaidaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateNotaSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateNotaSaidaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdatePedidoSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q59:ESTPedidosaida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdatePedidoSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdatePedidoSaidaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdatePedidoSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q60:ESTPedidosaidaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdatePedidoSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdatePedidoSaidaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdatePrePedidoSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q61:ESTPrePedidosaida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdatePrePedidoSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdatePrePedidoSaidaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdatePrePedidoSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q62:ESTPrePedidosaidaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdatePrePedidoSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdatePrePedidoSaidaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q63:ESTInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateInventarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q64:ESTCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmbalagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q65:ESTEmbalagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmbalagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmbalagemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q66:ESTEndereco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEnderecoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGerente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q67:ESTGerente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGerenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGerenteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q68:ESTMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMarcaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNcm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q69:ESTNcm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNcmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNcmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRamoatividade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q70:ESTRamoatividade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRamoatividadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRamoatividadeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q71:ESTRca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRcaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupervisor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q72:ESTSupervisor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSupervisorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSupervisorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q73:ESTDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDepartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSecao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q74:ESTSecao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSecaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSecaoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFilial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q75:ESTFilial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFilialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFilialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q76:ESTFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFornecedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q77:ESTKit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteKitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q78:ESTProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProdutoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotaEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q79:ESTNotaentrada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotaEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotaEntradaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotaEntradaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q80:ESTNotaentradaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotaEntradaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotaEntradaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotaSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q81:ESTNotasaida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotaSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotaSaidaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotaSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q82:ESTNotasaidaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotaSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNotaSaidaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePedidoSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q83:ESTPedidosaida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePedidoSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePedidoSaidaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePedidoSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q84:ESTPedidosaidaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePedidoSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePedidoSaidaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrePedidoSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q85:ESTPrePedidosaida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrePedidoSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePrePedidoSaidaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrePedidoSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q86:ESTPrePedidosaidaitens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrePedidoSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePrePedidoSaidaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q87:ESTInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInventarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q88:ESTCliente" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q89:ESTDepartamento" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusDepartamentoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusSecao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q90:ESTSecao" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusSecaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusSecaoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusFilial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q91:ESTFilial" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusFilialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusFilialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q92:ESTFornecedor" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusFornecedorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q93:ESTProduto" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusProdutoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusKit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q94:ESTKit" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusKitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusKitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusNotaEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q95:ESTNotaentrada" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusNotaEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusNotaEntradaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusNotaEntradaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q96:ESTNotaentradaitens" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusNotaEntradaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusNotaEntradaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusNotaSaida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q97:ESTNotasaida" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusNotaSaidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusNotaSaidaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusNotaSaidaItens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Integradora.ERP.Corpem.Entity" minOccurs="0" name="registro" nillable="true" type="q98:ESTNotasaidaitens" />
        <xs:element minOccurs="0" name="semaforo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusNotaSaidaItensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusNotaSaidaItensResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>