Integradora.ECommerce.Infracommerce/Web References/WebServiceClientes/CustomerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:cus="http://www.accurate.com/acec/CustomerServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerServices" targetNamespace="http://www.accurate.com/acec/CustomerServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="schemas/CustomerServices.xsd" namespace="http://www.accurate.com/acec/CustomerServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="notifyCustomerCreationRequest">
    <wsdl:part name="payload" element="cus:notifyCustomerCreationRequest" />
  </wsdl:message>
  <wsdl:message name="notifyCustomerCreationResponse">
    <wsdl:part name="payload" element="cus:notifyCustomerCreationResponse" />
  </wsdl:message>
  <wsdl:message name="updateCustomerRequest">
    <wsdl:part name="payload" element="cus:updateCustomerRequest" />
  </wsdl:message>
  <wsdl:message name="updateCustomerResponse">
    <wsdl:part name="payload" element="cus:updateCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerServices">
    <wsdl:operation name="notifyCustomerCreation">
      <wsdl:input message="cus:notifyCustomerCreationRequest" />
      <wsdl:output message="cus:notifyCustomerCreationResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <wsdl:input message="cus:updateCustomerRequest" />
      <wsdl:output message="cus:updateCustomerResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServicesBinding" type="cus:CustomerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="notifyCustomerCreation">
      <soap:operation soapAction="notifyCustomerCreation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <soap:operation soapAction="updateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerServices">
    <wsdl:port name="CustomerServices_pt" binding="cus:CustomerServicesBinding">
      <soap:address location="https://ws-unilever-hcp.infracommerce.com.br/UnileverSvc/Customer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>