Integradora.ECommerce.FBits/Web References/SyncPedidoVenda/SyncPedidoVenda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemsResult" type="tns:ArrayOfIntegracaoPedidoVendaInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIntegracaoPedidoVendaInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IntegracaoPedidoVendaInfo" nillable="true" type="tns:IntegracaoPedidoVendaInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntegracaoPedidoVendaInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PedidoId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="DataPedido" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeDestino" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Parcelas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorFrete" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorFreteEmpresa" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TransportadoraFrete" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="DataEntrega" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EntregaAgendadaPeriodo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorPedido" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Ip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrazoEnvio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LinhaDigitalBoleto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCupomDesconto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorCupomDesconto" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Subtotal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorJuros" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorParcelas" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorServicos" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ParceiroId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TabelaPrecoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:IntegracaoUsuarioInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Itens" type="tns:ArrayOfIntegracaoPedidoProdutoInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="FormasPagamento" type="tns:ArrayOfPedidoPagamentoInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Assinatura" type="tns:IntegracaoAssinaturaInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntegracaoUsuarioInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="EcommerceId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoPessoaId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrigemContatoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EnderecoResidencialId" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="EnderecoEntregaId" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoSexoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FormaPagamentoId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoPreferenciaUsuarioId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgaoEmissor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeMae" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefoneResidencial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefoneCelular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefoneComercial" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataNascimento" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InscricaoEstadual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Responsavel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataCriacao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataAtualizacao" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParceiroID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DadosNewsletter" type="tns:IntegracaoNewsletterInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntegracaoNewsletterInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IntegracaoNewsletterId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataCadastro" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DoubleOptInValido" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DataAceitacaoOptIn" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAceitacaoOptIn" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIntegracaoPedidoProdutoInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IntegracaoPedidoProdutoInfo" nillable="true" type="tns:IntegracaoPedidoProdutoInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntegracaoPedidoProdutoInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PedidoId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ProdutoVarianteId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Combo" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PesoUnitario" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PesoTotal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecoUnitario" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Preco_Venda" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecoRateado" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorJuros" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DataCriacao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataAtualizacao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ProdutoQuantidade" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlImagem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PedidoProdutoId" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Brinde" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Atributos" type="tns:ArrayOfIntegracaoPedidoProdutoAtributoInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Servicos" type="tns:ArrayOfIntegracaoPedidoProdutoServicoInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIntegracaoPedidoProdutoAtributoInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IntegracaoPedidoProdutoAtributoInfo" nillable="true" type="tns:IntegracaoPedidoProdutoAtributoInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntegracaoPedidoProdutoAtributoInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIntegracaoPedidoProdutoServicoInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IntegracaoPedidoProdutoServicoInfo" nillable="true" type="tns:IntegracaoPedidoProdutoServicoInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntegracaoPedidoProdutoServicoInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ServicoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescricaoPreco" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPreco" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecoServico" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecoServicoTotal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PedidoProdutoId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PedidoProdutoAconteceServicoId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tempo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Validador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContratoGarantia" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPedidoPagamentoInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PedidoPagamentoInfo" nillable="true" type="tns:PedidoPagamentoInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PedidoPagamentoInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PedidoPagamentoId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PedidoId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FormaPagamentoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroParcelas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorParcela" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorDesconto" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorJuros" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorTotal" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCartaoCredito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeCartaoCredito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoSegurancaCartaoCredito" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidadeCartaoCredito" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntegracaoAssinaturaInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PedidoId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AssinaturaId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="GrupoAssinaturaId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="GrupoAssinaturaNome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoPeriodo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TempoPeriodo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PercentualDesconto" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="Select">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pedidoId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectResult" type="tns:IntegracaoPedidoVendaInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pedidoIdArray" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="CompleteBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompleteBatchResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Complete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pedidoId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSoapIn">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="SelectSoapOut">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteBatchSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteBatch" />
  </wsdl:message>
  <wsdl:message name="CompleteBatchSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteBatchResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteSoapIn">
    <wsdl:part name="parameters" element="tns:Complete" />
  </wsdl:message>
  <wsdl:message name="CompleteSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncPedidoVendaSoap">
    <wsdl:operation name="GetItems">
      <wsdl:input message="tns:GetItemsSoapIn" />
      <wsdl:output message="tns:GetItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input message="tns:SelectSoapIn" />
      <wsdl:output message="tns:SelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteBatch">
      <wsdl:input message="tns:CompleteBatchSoapIn" />
      <wsdl:output message="tns:CompleteBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <wsdl:input message="tns:CompleteSoapIn" />
      <wsdl:output message="tns:CompleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncPedidoVendaSoap" type="tns:SyncPedidoVendaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteBatch">
      <soap:operation soapAction="http://tempuri.org/CompleteBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <soap:operation soapAction="http://tempuri.org/Complete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncPedidoVendaSoap12" type="tns:SyncPedidoVendaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap12:operation soapAction="http://tempuri.org/GetItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap12:operation soapAction="http://tempuri.org/Select" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteBatch">
      <soap12:operation soapAction="http://tempuri.org/CompleteBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <soap12:operation soapAction="http://tempuri.org/Complete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncPedidoVenda">
    <wsdl:port name="SyncPedidoVendaSoap" binding="tns:SyncPedidoVendaSoap">
      <soap:address location="http://integracao.decisaoentrega.com.br/modelo007/SyncPedidoVenda.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncPedidoVendaSoap12" binding="tns:SyncPedidoVendaSoap12">
      <soap12:address location="http://integracao.decisaoentrega.com.br/modelo007/SyncPedidoVenda.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>