Integradora.ECommerce.FBits/Web References/SyncUsuarioEndereco/SyncUsuarioEndereco.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemsResult" type="tns:ArrayOfIntegracaoUsuarioEnderecoInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIntegracaoUsuarioEnderecoInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IntegracaoUsuarioEnderecoInfo" nillable="true" type="tns:IntegracaoUsuarioEnderecoInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IntegracaoUsuarioEnderecoInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EnderecoId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefoneResidencial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefoneCelular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelefoneComercial" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Complete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="enderecoId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteSoapIn">
    <wsdl:part name="parameters" element="tns:Complete" />
  </wsdl:message>
  <wsdl:message name="CompleteSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncUsuarioEnderecoSoap">
    <wsdl:operation name="GetItems">
      <wsdl:input message="tns:GetItemsSoapIn" />
      <wsdl:output message="tns:GetItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <wsdl:input message="tns:CompleteSoapIn" />
      <wsdl:output message="tns:CompleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncUsuarioEnderecoSoap" type="tns:SyncUsuarioEnderecoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <soap:operation soapAction="http://tempuri.org/Complete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncUsuarioEnderecoSoap12" type="tns:SyncUsuarioEnderecoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap12:operation soapAction="http://tempuri.org/GetItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Complete">
      <soap12:operation soapAction="http://tempuri.org/Complete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncUsuarioEndereco">
    <wsdl:port name="SyncUsuarioEnderecoSoap" binding="tns:SyncUsuarioEnderecoSoap">
      <soap:address location="http://integracao.decisaoentrega.com.br/modelo007/SyncUsuarioEndereco.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncUsuarioEnderecoSoap12" binding="tns:SyncUsuarioEnderecoSoap12">
      <soap12:address location="http://integracao.decisaoentrega.com.br/modelo007/SyncUsuarioEndereco.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>