Integradora.ECommerce.FBits/Web References/SyncContaCorrente/SyncContaCorrente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarCredito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuarioId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoLancamentoId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pedidoId" nillable="true" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="historico" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarCreditoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarCreditoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarCreditoSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarCredito" />
  </wsdl:message>
  <wsdl:message name="RegistrarCreditoSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarCreditoResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncContaCorrenteSoap">
    <wsdl:operation name="RegistrarCredito">
      <wsdl:input message="tns:RegistrarCreditoSoapIn" />
      <wsdl:output message="tns:RegistrarCreditoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncContaCorrenteSoap" type="tns:SyncContaCorrenteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarCredito">
      <soap:operation soapAction="http://tempuri.org/RegistrarCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncContaCorrenteSoap12" type="tns:SyncContaCorrenteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarCredito">
      <soap12:operation soapAction="http://tempuri.org/RegistrarCredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncContaCorrente">
    <wsdl:port name="SyncContaCorrenteSoap" binding="tns:SyncContaCorrenteSoap">
      <soap:address location="http://integracao.decisaoentrega.com.br/modelo007/SyncContaCorrente.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncContaCorrenteSoap12" binding="tns:SyncContaCorrenteSoap12">
      <soap12:address location="http://integracao.decisaoentrega.com.br/modelo007/SyncContaCorrente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>